<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MonoDB App</title>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 p-10">
        <div class="mb-5">
            <a class="text-blue-500" href="/read">Veiw Users</a>
        </div>

        <h1 class="text-white text-3xl mb-5 font-bold tracking-tighter">Create User</h1>
        <form action="/create" method="post">
            <input class="px-4 py-2 rounded-lg border-2 border-zinc-700 bg-zinc-800 text-white outline-none" type="text" name="name" placeholder="Enter Name here">
            <input class="px-4 py-2 rounded-lg border-2 border-zinc-700 bg-zinc-800 text-white outline-none" type="text" name="email" placeholder="Enter Email here">
            <input class="px-4 py-2 rounded-lg border-2 border-zinc-700 bg-zinc-800 text-white outline-none" type="text" name="image" placeholder="Enter ImageURL">
            <input class="px-4 py-2 rounded-lg ml-5 bg-blue-500 text-white font-medium" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>